html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 2rem;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: rgb(233, 248, 211);
    color: black;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.contents {
    background-color: black;
}

.question-counter {
    background-color: pink;
    font-weight: bold;
    width: max-content;
    height: max-content;
}

.question-container {
    border-bottom: white solid 3px;
}

.question-text {
    font-size: 50px;
}

.select-container {
    padding: 30px;
    margin-bottom: 30px;
}

.select-button {
    cursor: pointer;
    margin: 30px;
    padding: 10px;
    font-size: 100%;
}

.btn, a.btn, button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 1rem;
}

.btn--yellow {
    color: #000;
    background-color: #fff100;
    border-bottom: 5px solid #ccc100;
}

.btn--yellow:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #ccc100;
}

.twitter {
    margin-top: 15px;
}