* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    height: 10vh;
}

h1 {
    margin-bottom: 30px;
}

main {
    background-color: black;
    height: 60vh;
}

.question-container, .select-container, .question-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container {
    padding: 30px;
    border-bottom: white solid 3px;
}

.question-text {
    font-size: 40px;
}

.select-container {
    padding: 30px;
    border-bottom: white solid 3px;
}

.select-text {
    font-size: 25%;
    margin: 5px;
    cursor: pointer;
}

.question-number-container {
    padding: 30px;
    color: white;
}

footer {
    height: 40vh;
    margin-top: 20px;
}

footer p {
    text-align: center;
}
